@if(isOpen){
    <div class="modal-content">
        <form class="modal-box" [formGroup]="fruitForm" (ngSubmit)="handleCreate()">
                <div class="btn-close">
                    <button (click)="handleOpen()">X</button>
                </div>
                <h1>Adicionando 🍏</h1>
                <label>Fruta</label>
                <input type="text" class="input" [formControl]="fruitForm.controls.name" placeholder="Ex: Avocado">
                <label>Quantidade</label>
                <input type="number" class="input" [formControl]="fruitForm.controls.quantity" placeholder="Ex: 10">
                <label>Peso</label>
                <input type="number" class="input" [formControl]="fruitForm.controls.weight" placeholder="Ex: 200">
                <label>Valor</label>
                <input type="number" class="input" [formControl]="fruitForm.controls.value" placeholder="Ex: 5">
                <label>Status</label>
                <input type="checkbox" class="toggle" [formControl]="fruitForm.controls.status">
                <button class="btn-full primary" (click)="handleCreate()" [disabled]="!fruitForm.valid">
                    Cadastrar
                </button>
        </form>
    </div>  
}