<div class="content">
    <app-modal-update #modalUpdate />
    <app-modal-create #modalCreate />
    <app-modal-delete #modalDelete />
    <h1 class="title">Frutas na tabela, by params</h1>
    <div class="content flex group end">
        <button class="btn primary" (click)="toggleModalCreate($event)">Adicionar</button>
    </div>
    <app-table-fruits 
        (toggleModalUpdateEmitter)="toggleModalUpdate($event)" 
        (toggleModalDeleteEmitter)="toggleModalDelete($event)"
        [fruits]="fruitsService.fruits" />
</div>