@if(isOpen && selectedFruit){
    <div class="modal-content">
        <div class="modal-box">
            <div class="btn-close">
                <button (click)="handleOpen()">X</button>
            </div>
            <h1>Deletando 🍓</h1>
            <div class="wrapper">
                <label>Tem certeza que deseja deletar <b>"{{selectedFruit.name}}"</b> ?</label>
            </div>
            <div class="flex group">
                <button class="btn-full danger" (click)="handleOpen()">
                    Cancelar
                </button>
                <button class="btn-full primary" (click)="handleDelete()">
                    Confirmar
                </button>
            </div>
        </div>
    </div>
}