/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.content {
    padding: 20px;
}

.title {
    padding-bottom: 20px;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.group {
    gap: 12px
}

.end {
    justify-content: flex-end;
    align-items: flex-end;
}

.btn {
    padding: 8px;
    border: 0px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}

.btn-full {
    width: 100%;
    padding: 12px;
    border: 0px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 12px;
    cursor: pointer;
}

.btn:disabled,
.btn-full:disabled {
    background-color: gray;
}

.primary {
    color: white;
    background-color: #00a26b;
    &:hover {
        background-color: #008259;
    }
}

.danger {
    color: white;
    background-color: #f2414a;
    &:hover {
        background-color: #bc1921;
    }
}

.info {
    color: white;
    background-color: #2d8ae1;
    &:hover {
        background-color: #1162b8;
    }
}

.input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border:  1px solid rgb(191, 191, 191);
    border-radius: 8px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
  .toggle {
    height: 32px;
    width: 52px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    transition: all .2s ease;
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: white;
      box-shadow: 0 1px 2px rgba(44,44,44,.2);
      transition: all .2s cubic-bezier(.5,.1,.75,1.35);
    }
    &:checked {
        background: #3aae53;
        border-color: #1f652e;
        &:after {
            transform: translatex(20px);
        }
    }
  }